certifi==2021.5.30
chardet==4.0.0
flake8-colors==0.1.9
flake8==3.9.2
flywheel-sdk==15.5.0
idna==2.10
jinja2==3.0.1
markupsafe==2.0.1
mccabe==0.6.1
pycodestyle==2.7.0
pydantic==1.8.2
pyflakes==2.3.1
python-dateutil==2.8.1
pyyaml==5.4.1
requests-toolbelt==0.9.1
requests==2.25.1
six==1.16.0
typing-extensions==3.10.0.0
urllib3==1.26.5
