[flake8]

# W191, E117 - indentation
# E501 - line length
# E401 - multiple imports on one line
# F401 - unused import
# E221 - multiple spaces before operator
# E251 - unexpected spaces around equals
# E722 - bare except
# E241 - multiple spaces after ':'
# E261 - at least two spaces before inline comment
# E265 - block comment should start with '# '

ignore = W191, E117, E401, E501, E221, E251, E722, E241, E261, E265

format = ${cyan}%(path)s${reset}:${yellow_bold}%(row)d${reset}:${green_bold}%(col)d${reset}: ${red_bold}%(code)s${reset} %(text)s
