[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flywheel-sdk = "==15.5.0"
jinja2 = "*"
flake8 = "*"
flake8-colors = "*"
pyyaml = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3"
